<h4>Congratulation you're now part of the community</h4>
Here's your information:
<ul>
  <li><%= name %></li>
  <li><%= lastname %></li>
  <li><%= typeblood %></li>
  <li><%= username %></li>
  <li><%= password %></li>
</ul>
